:root{
    --white:hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

}
body{
    background-color: var(--Light-gray);
    font-family: "outfit";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}
main{  
    padding: 15px;
    background:var(--white);
    max-inline-size: 300px;
    border-radius: 15px;
    inline-size: 90%;
    margin-inline: auto;
    margin-block-end: 15px;
}
img{
    inline-size: 100%;
    border-radius: 10px;
}
article{
    inline-size: 95%;
    text-align: center;
}

h1{
    font-size:large ;
    color: var(--dark-blue);
    font-family: "outfit";
}
p{
    font-size: small;
    color:var(--grayish-blue)
}